@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav > img{
    position: relative;
    left: 20px;
}

.nav-items{
    display: flex;
    width: 500px;
    justify-content: space-around;
    position: relative;
    left: 100px;
  
}

.nav-item{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.nav-item:first-child{
    color: #fe5e35;
    font-weight: 600;
}

.nav-item ~ .nav-item{
    color: #3d3d3d;
    font-weight: 300;
}

[alt="actions"]{
    position: relative;
    left: 90px;
}

.left-section{
    display: flex;
    flex-direction: column;
    height: 88vh;
    justify-content: center;
    align-items: flex-start;
    width: 53vw;
}

.left-section > h3{
    position: absolute;
    top: 150px;
    left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.left-section > h3 > img{
    height: 40px;
}

.left-section > h1{
    position: absolute;
    top: 190px;
    left: 20px;
    font-family: "Fredoka One", sans-serif;
    font-weight: 400;
    font-size: 70px;
}

.sub-headlines{
    position: relative;
    top: 75px;
    left: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.sub-headline{
    display: flex;
    align-items: center;
}

[alt="plus"]{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color:  #fe5e35;
    margin-right: 10px;
}

.text{
    position: relative;
    top: 140px;
    left: 20px;
    font-family: "Poppins", sans-serif;
    width: 680px;
    font-weight: 200;
    font-size: 14px;
    color: #bdbdbd;
}

.action-btns{
    position: relative;
    top: 160px;
    left: 20px;
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.action-btn{
    padding: 15px 35px;
    background-color: #fe5e35;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.right-section{
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 45vw;
    position: absolute;
    top: 55px;
    left: 732px;
    justify-content: center;
    align-content: flex-end;
}

[alt="headphone"]{
    position: relative;
    bottom: 45px;
    left: 90px;
    height: 50%;
    z-index: -1;
}

.discount{
    position: relative;
    top: 370px;
    left: 47px;
    width: 130px;
    filter: drop-shadow(2px 5px 1px rgb(0 0 0/ 0.4));
}

.discount-content{
    color: #ffffff;
    position: relative;
    top: 272px;
    left: 80px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.dots{
    position: relative;
    bottom: 200px;
    left: 220px;
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.yellow-dot{
    background-color: #fbd104;
}

.tomato-dot{
    background-color: #fe5e35;
}

.black-dot{
    background-color: #000000;
}

.right-section > button {
    position: relative;
    bottom: 170px;
    left: 200px;
    width: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}